// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.95rem;
$line-height-base: 1.6;

// Nav Underline
$nav-underline-gap: 0.5rem;
$nav-underline-border-width: 0.2rem;
$nav-underline-link-active-color: #ffffff !important;
